<!DOCTYPE html>
<html>
  <head>
    <title>Quip App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# Commented out this importmap tag because it is not being used and then added in the following line%>
    <%# <%= javascript_importmap_tags %> 
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <script type="module" src="../../javascript/application.js"></script>
  </body>
</html>
